<header>
    <nav>
        <a href="#">           
            <img src="../images/cross.svg">
        </a>
        <div class="profile">
            <div class="profile-name">
                <div class="profile-name-txt">Dayniight</div>
                <div class="profile-name-exp">
                    <div class="profile-name-exp-progress"></div>
                </div>
                
            </div>
            <div class="profile-avatar">
                <img src="../images/profil.png">
                <div class="profile-avatar-lvl">
                    43
                </div>
            </div>
        </div>
    </nav>
</header>