<!DOCTYPE html>
<html lang="fr">
{% include '_head.twig' %}

<body>
    {% include '_header.twig' %}
    
    <main class="layout">
        {% block body %}{% endblock %}
    </main>

</body>
<script src="../js/main.js"></script>
</html>