body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/Loading_screen.png");
  
    /* Full height */
    height: 100%;
   
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }