{% extends '../reusable/_layout.twig' %}

{% block body %}
<div class="home">

    <div class="news">
        <h1>NEWS <span>3</span></h1>
        <ul>
            <li>Reworked UI</li>
            <li>New car: Nissan 180SX</li>
            <li>Updated light on customs</li>
        </ul>
    </div>

    <div class="shop">
        <div class="shop-img">
            <img src="../images/box.svg" alt="">
        </div>
        <div class="shop-news">
            NEW
        </div>
        <div class="shop-txt">
            <h2>VEHICLE</h2>
            <h2 class="yellow">SHOP</h2>
        </div>
    </div>

    <div class="menu">
        <div class="menu-box">
            <div class="menu-box-img">
                <img src="../images/de.png" alt="">
            </div>
            <div class="menu-box-txt">DAILY EVENTS</div>
        </div>
        <div class="menu-box">
            <div class="menu-box-img">
                <img src="../images/gd.png" alt="">
            </div>
            <div class="menu-box-txt">GO DRIFT</div>
        </div>
        <div class="menu-box">
            <div class="menu-box-img">
                <img src="../images/garage.png" alt="">
            </div>
            <div class="menu-box-txt">GARAGE</div>
        </div>
    </div>

</div>
    
{% endblock %}